._sec-btn{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 60vh;
}
._btn-action{
    height: 120px;
    width: 180px;
    border-radius: 40px;
}

._btn-upload {
    height: 120px;
    width: 180px;
    background: #30cfc0;
}